
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
    background-color: #FFFAF0;
}
div {
    background-color: #FFFAF0;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
h6 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 600px;
}
.col {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: black;
    font-weight: 700;
    margin: 3px;
    height: 95%;
}

#board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#submit {
    margin-top: 20px;
    height: 35px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#solvedBoard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    margin: 0px;
}

#reset {
    margin: 10px
}