
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 400px;
}
.col {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    font-weight: 700;
}

#board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#submit {
    margin-top: 20px;
    height: 35px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#solvedBoard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
